<main>
    Tell us a bit more about yourself (optional)
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <label>Age</label><br />
        <input type="text" name="age"><br />
        <label>City</label><br />
        <input type="text" name="city"><br />
        <label>Homepage</label><br />
        <input type="text" name="url"><br />
        <button>Continue</button>
    </form>
</main>
